@import url("https://use.typekit.net/opf3uqn.css");

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
#header h1 {
  margin: 0 0 29px;
  line-height: 84px;
  font-weight: 700;
  font-size: 80px;
  color: #fff;
  font-family: poppins;
}

/* typekit Font: Lato */
.latoItalic {
  font-family: lato,sans-serif;
  font-weight: 400;
  font-style: italic;
}
.latoBoldItalic {
  font-family: lato, sans-serif;
  font-weight: 700;
  font-style: italic;
}
.latoBold {
  font-family: lato, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.latoRegular {
  font-family: lato, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppinsItalic {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: italic;
}
.poppinsRegular {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppinsBoldItalic {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: italic;
}
.poppinsBold {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
}
