/*
	Import Fontawesome to render social media icons locally
	Learn more at https://fontawesome.com/start
	Files: css/all.min.css, /webfonts
*/
@import url("all.min.css");
@import url("normalize.css");
@import url("main.css");
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
  background-color: black;
  color: white;
  font-family: "Indie Flower"
}
a, a:link, a:hover, a:visited, a:active, a:focus {
  color: white;
  text-decoration: none;
}
p {
}
menu,
ul {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo img {
  height: 100px;
}

.header nav ul li {
  display: inline-block;
  /* margin-right: 30px; */
}
.header nav ul li a {
  padding: 30px;
}
.hero {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero .gallery,
.hero .introduction {
  float: left;
}
.hero .gallery { width: 40%; }
.hero .introduction {
  width: 40%;
}
.hero .introduction h1 {
  margin-top: 0;
}
.hero .index-carousel {
  max-width: 800px;
}
.hero .index-carousel img {
  display: block;
  width: 100%;
}
.hero .index-carousel .slick-prev {
  left: 0;
  z-index: 99;
}
.hero .index-carousel .slick-next {
  right: 0;
}
.hero .slick-dots li button:before {
  color: white;
}
.hero .slick-dots li.slick-active button:before {
  color: yellow;
}
.project {
  text-align: center;
}
/* Style Footer Here */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  width: 100%;
  margin-top: 10%;
}
.footer .copy { margin-right: 5%; }
.footer .socialmedia.icons li { display: inline-block; width: 12px;}
.footer .socialmedia.fontawesome li {
  display: inline-block;
  margin-right: 10px;
}
.footer .socialmedia.fontawesome li,
.footer .socialmedia.fontawesome li a {
  color: black;
}

@media only screen and (max-width: 30em) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width: 40em) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero .gallery,
  .hero .introduction {
    float: none;
    width: 100%;
  }
  .hero .introduction {
    text-align: center;
  }
}
